
.featured_item {
    position:relative;
}

.featured_item a {
    position:absolute;
    width:100%;
    bottom:0px;
    text-decoration: none;
    right:0px;
}

.featured_image {
    height:330px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.featured_caption {
    color:#ffffff;
    top:0px;
    width:100%;
    padding:20px;
    font-weight:300;
    font-size:28px;
    box-sizing: border-box;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .featured_image {
        height:95vh;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    .featured_caption {
        color:#ffffff;
        text-align: center;
        align-items: center;
        width:100%;
        padding:40px;
        font-weight:400;
        font-size:40px;
        box-sizing: border-box;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .featured_image {
        height:95vh;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    .featured_caption {
        color:#ffffff;
        text-align: center;
        align-items: center;
        width:100%;
        padding:40px;
        font-weight:400;
        font-size:50px;
        box-sizing: border-box;
    }
}